# Entornos de App: dev, beta, prod
# dev: Desarrollo local, con acceso a servicios de desarrollo
# beta: Pruebas internas o públicas, con acceso a servicios de producción
# prod: Producción, con acceso a servicios de producción
APP_ENV=dev

## Endpoints de servicios
SIGA_ENDPOINT=https://siga.utem.cl
EXDEV_API_ENDPOINT=https://api.exdev.cl

## Firebase
FIREBASE_PROJECT_NAME=miutem-dev