# Identificador de la app para iOS
APP_IDENTIFIER=cl.utem.miutem
# Nombre del paquete de la app para Android
APP_PACKAGE_NAME=cl.inndev.miutem

# Entorno de la app (dev o prod)
APP_ENV=dev

# Apple ID y Team ID para iOS
APPLE_ID=
ITC_TEAM_ID=
TEAM_ID=

# Webhook de Discord para notificaciones (opcional)
DISCORD_WEBHOOK=
# GithubToken se utiliza para subir la release y publicar el changelog con la fecha de compilación. Idealmente es obtenida desde github_actions
GITHUB_TOKEN=

# Fastlane credentials
FASTLANE_USER=
FASTLANE_PASSWORD=
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=

# Configuración del Keychain para firma de iOS/macOS. (El nombre debe ser de tu keychain principal, por defecto es login.keychain-db). La contraseña es la que usas para desbloquear tu keychain, si es que lo tienes protegido con contraseña. Si no tienes un keychain personalizado, puedes dejar el nombre como login.keychain-db y la contraseña vacía.
KEYCHAIN_NAME=login.keychain-db
KEYCHAIN_PASSWORD=

# Match configuration for managing iOS provisioning profiles and certificates
MATCH_REPO=
MATCH_PASSWORD=
MATCH_GIT_BASIC_AUTHORIZATION=

# Tipo de perfil para iOS/macOS (appstore, development, ad-hoc, enterprise)
MATCH_TYPE="appstore"

# App Store Connect API Key configuration for iOS app distribution
APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_CONTENT=

# Android keystore configuration
MIUTEM_KEYSTORE_PATH=

# Si estamos en CI/CD usamos la variable MIUTEM_KEYSTORE_BASE64 para cargar el keystore desde una variable de entorno, en lugar de usar un archivo local.
# MIUTEM_KEYSTORE_BASE64=

MIUTEM_KEYSTORE_PASSWORD=
MIUTEM_KEY_ALIAS=
MIUTEM_KEY_PASSWORD=
MIUTEM_USE_DEBUG_SIGNING=false
# Google Play Service Account
GOOGLE_PLAY_JSON_KEY=
# Track de Google Play (internal, alpha, beta, production)
ANDROID_TRACK=internal
