# Identificador de la app para iOS
APP_IDENTIFIER=cl.utem.miutem
# Nombre del paquete de la app para Android
APP_PACKAGE_NAME=cl.inndev.miutem
# Apple ID y Team ID para iOS
APPLE_ID=
ITC_TEAM_ID=
TEAM_ID=

# Webhook de Discord para notificaciones (opcional)
DISCORD_WEBHOOK=
# GithubToken se utiliza para subir la release y publicar el changelog con la fecha de compilación. Idealmente es obtenida desde github_actions
GITHUB_TOKEN=

# Fastlane credentials
FASTLANE_USER=
FASTLANE_PASSWORD=
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=

# Keychain configuration for iOS code signing
KEYCHAIN_NAME=miutem.keychain-db
KEYCHAIN_PASSWORD=

# Match configuration for managing iOS provisioning profiles and certificates
MATCH_REPO=
MATCH_PASSWORD=
MATCH_GIT_BASIC_AUTHORIZATION=
MATCH_TYPE=appstore # Puede ser "appstore" o "development", dependiendo de si quieres compilar la app como prd o dev.

# App Store Connect API Key configuration for iOS app distribution
APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_CONTENT=